*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(./images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.options {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    list-style: none;
}

.item {
    font-weight: 700;
    color: white;
    font-size: 1.125rem;
    cursor: pointer;
}

.container {
    display: grid;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 2fr 1fr;
}

.login {
    margin-top: 7rem;
    width: 24.375rem;
    height: 33.5625rem;
    background-color: white;
}

.content {
    width: 77rem;
    height: 50rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.content h3 {
    text-align: right;
    color: white;
}

.inscription {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    padding: 2rem;
}

.inscription h2 {
    font-family: Enriqueta;
    font-weight: 700;
}

.inscription label {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.inscription input {
    border: 1px solid #829CF6;
    height: 3rem;
    font-size: 1rem;
    padding: 1rem;
}

.inscription input::placeholder {
    color: black;
    font-style: normal;
    font-size: 1rem;
}

.inscription select {
    border: 1px solid #829CF6;
    height: 3.1rem;
    font-size: 1rem;
    padding: 1rem;
}

.inscription button {
    width: 6rem;
    height: 2rem;
    border: none;
    background-color: rgba(246, 17, 86, 0.87);
    color: white;
    font-family: Enriqueta;
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 14.4rem;
}